body {
    background-color: black;
}

#gamespace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 400px;
}

#title {
    color: aquamarine;
    text-shadow: 2px 2px blueviolet;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
    user-select: none;
}

#recordContainer {
    display: none;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 20px;
    user-select: none;
}

#record {
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 5px 0px 5px;
}

#box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 10px;
    
}

#overlay {
    margin: auto;
    display: flex;
    background-color: rgba(71, 40, 100, 0.6);
    width: 406px;
    height: 406px;
    border-radius: 10px;
    bottom: 481px;
    position: relative;
}

#gamemessage {
    color: white;
    font-size: 50px;
    font-family: fantasy;
    margin: auto;
    text-shadow: 4px 4px 10px black;
    user-select: none;
}

#bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 60px;
    margin-top: 15px;
}

.button {
    border-style: solid;
    width: 100px;
    height: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    cursor: pointer;
    user-select: none;
    box-shadow: 4px 4px 10px blueviolet;
}

.cell {
    background-color: blueviolet;
    width: 25%;
    height: 25%;
}

.inner {
    width: 92px;
    height: 92px;
    margin: 4px;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    border-radius: 5px;
    line-height: 84px;
    word-wrap: break-word;
    user-select: none;
}